<div class="container">
    <div class="dash-view">
        <div class="dash-title">
            <div class="heading-tag">
                <p>Dashboard</p>
            </div>
        </div>
        <div class="dash-detail">
            <div class="menu-category">
                <div class="dash-menu">
                    <a>Automobile</a>
                  </div>
                  <div class="dash-menu">
                      <a>Business Listing</a>
                  </div>
                  <div class="dash-menu">
                      <a>Fashion</a>
                  </div>
                  <div class="dash-menu">
                      <a>Job</a>
                  </div>
                  <div class="dash-menu">
                      <a>Real-Estate</a>
                  </div>
            </div>
            <div class="count-container">
                <div class="dash-menu">
                    <a>1</a>
                  </div>
                  <div class="dash-menu">
                    <a>2</a>
                  </div>
                  <div class="dash-menu">
                    <a>3</a>
                  </div>
                  <div class="dash-menu">
                    <a>1</a>
                  </div>
                  <div class="dash-menu">
                    <a>1</a>
                  </div>
            </div>
            <div class="graph-container">
                <img src="../../../assets/img/graph.png">

            </div>
        </div>
    </div>
</div>

