<div class="d-flex overflow-auto  justify-content-start justify-content-xl-center">
    <div class=" d-flex justify-content-center align-items-center my-5">
        <div class="category-card mx-3">
            <a>Automobile</a>
            <div class="category-card__icon-container">
                <i class="fa fa-car" aria-hidden="true"></i>
            </div>
        </div>
        <div class="category-card mx-3">
            <a>Business Listing</a>
            <div class="category-card__icon-container">
                <i class="fa fa-list" aria-hidden="true"></i>
            </div>
        </div>
        <div class="category-card mx-3">
            <a>Fashion</a>
            <div class="category-card__icon-container">
                <i class="fa fa-female" aria-hidden="true"></i>
            </div>
        </div>
        <div class="category-card mx-3">
            <a>Job</a>
            <div class="category-card__icon-container">
                <i class="fa fa-briefcase" aria-hidden="true"></i>
            </div>
        </div>
        <div class="category-card mx-3">
            <a>Real-Estate</a>
            <div class="category-card__icon-container">
                <i class="fa fa-building" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</div>
