
<div class="container mw-100 p-0">
    <div class="bg-image">
        
    </div>
    <div class="heading-list">
        <h1>ListnSell</h1>
    </div>
    <div class="sub-heading">
        <h2>List and sell, get your deals done</h2>
    </div>
    <div class="detail-about">
        <div class="detail-content">
            <p>Listnsell is one of the fastest growing premium business portals in India.
                Our database is growing by supporting a large number of businesses interested in expanding their business to Internet audiences around the world.  
                 We provide Business Listing, Real-estate Listing, Automobile Listing, Job Portal, E-commerce, Pincode Directory and some other services.
                 Whenever a customer searches for products or services like yours, the chances of finding our partners increase.
            </p>
        </div>
    </div>
    <div class="botom-title-view">
        <div class="child1">
            <div class="logo-block">
                <div class="logo-img">
                    <img src="../../assets/img/without-space-logo.png" alt="">
                </div>
                <div class="logo-title">
                    <h2>ListnSell</h2>
                </div>
            </div>
            <div class="logo-para">
                <p>LOrem iposun mdloletr sbhvns uhgsad hbsdx sfdsazgvszv sfgsadgfvxsagvsgav sgvsdvz  </p>
            </div>
        </div>
        <div class="contact-block">
            <div class="sub-blocks">
                <div class="block1">
                    <p>About</p>
                </div>
                <div class="block2">
                    <p>Contact Us</p>
                </div>
            </div>
            <div class="sub-blocks">
                <div class="blocks1">
                    <p>FAQS</p>
                </div>
                <div class="block2">
                    <p>Terms&Conditions</p>
                </div>
            </div>
            <div class="sub-blocks">
                <div class="block1">
                    <p>Pricing</p>
                </div>
                <div class="block2"> 
                    <p>Privacy Policy</p>
                </div>
            </div>
        </div>
        <div class="child6 ">
            <div class="sub-child6">
                <div class="img1">
                    <img src="../../assets/img/iconfinder_facebook_608767.svg" alt="" class="icon-img"> 
                </div>
                <div class="img2">
                    <img src="../../assets/img/iconfinder_youtube_608761.svg" alt=""class="icon-img"> 
                </div>
            </div>
            <div class="sub1-child6">
                <div class="img1">
                    <img src="../../assets/img/iconfinder_instagram_608765.svg" alt="" class="icon-img"> 
                </div>
                <div class="img2">
                    <img src="../../assets/img/iconfinder_twitter_608766.svg" alt=""class="icon-img"> 
                </div>
            </div>
        </div>
    </div>
</div>



