<div class="container-fluid top-header ">
    <div class="bg-block"></div>
    <div class="top-header__container">
        <label class="top-header__container--title" for="">
            List and sell, get your deals done by few clicks
        </label>
        <label class="top-header__container--subtitle" for="">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro, expedita! Lorem  sit.
        </label>
        <div class="search-bar mt-4">
            <div class="form-group search-box">
                <input type="text" class="form-control border-right" placeholder="What are you looking for?">
            </div>
            <div class="form-group location-box">
                <input type="text" class="form-control  border-right" placeholder="Location">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="form-group category-box">
                <select class="form-control">
                  <option>Business Listing</option>
                </select>
            </div>
            <button class="btn btn-primary badge-pill h-100">Search</button>
        </div>
    </div>
    <button class="btn-primary btn main-btn badge-pill px-3"><i class="fas fa-paper-plane mr-2"></i>Join our network</button>
</div>

<app-silver-card></app-silver-card>
<app-gold-card></app-gold-card>
<app-free-card></app-free-card>
<app-platinum-card></app-platinum-card>
<app-silver-card></app-silver-card>
<app-diamond-card></app-diamond-card>

<div class="botom-title-view">
    <div class="child1">
        <div class="logo-block">
            <div class="logo-img">
                <img src="../../assets/img/without-space-logo.png" alt="">
            </div>
            <div class="logo-title">
                <h2>ListnSell</h2>
            </div>
        </div>
        <div class="logo-para">
            <p>LOrem iposun mdloletr sbhvns uhgsad hbsdx sfdsazgvszv sfgsadgfvxsagvsgav sgvsdvz  </p>
        </div>
    </div>
    <div class="contact-block">
        <div class="sub-blocks">
            <div class="block1">
                <p>About</p>
            </div>
            <div class="block2">
                <p>Contact Us</p>
            </div>
        </div>
        <div class="sub-blocks">
            <div class="blocks1">
                <p>FAQS</p>
            </div>
            <div class="block2">
                <p>Terms&Conditions</p>
            </div>
        </div>
        <div class="sub-blocks">
            <div class="block1">
                <p>Pricing</p>
            </div>
            <div class="block2"> 
                <p>Privacy Policy</p>
            </div>
        </div>
    </div>
    <div class="child6 ">
        <div class="sub-child6">
            <div class="img1">
                <img src="../../assets/img/iconfinder_facebook_608767.svg" alt="" class="icon-img"> 
            </div>
            <div class="img2">
                <img src="../../assets/img/iconfinder_youtube_608761.svg" alt=""class="icon-img"> 
            </div>
        </div>
        <div class="sub1-child6">
            <div class="img1">
                <img src="../../assets/img/iconfinder_instagram_608765.svg" alt="" class="icon-img"> 
            </div>
            <div class="img2">
                <img src="../../assets/img/iconfinder_twitter_608766.svg" alt=""class="icon-img"> 
            </div>
        </div>
    </div>
</div>


