<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="clsActivated: uk-transition-active; center: true">

    <ul class="uk-slider-items uk-grid">
        <li class="uk-width-1">
            <div class="uk-panel">
                <img src="../../assets/img/big-list-1.png" alt="">
                <div class="uk-overlay py-2 uk-overlay-primary uk-position-bottom uk-transition-slide-bottom">
                    <div class="container">
                        <div class="info-holder">
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div>
                            <label class="card-title">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail float-right">
                                <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="uk-width-1">
            <div class="uk-panel">
                <img src="../../assets/img/big-list-1.png" alt="">
                <div class="uk-overlay py-2 uk-overlay-primary uk-position-bottom uk-transition-slide-bottom">
                    <div class="container">
                        <div class="info-holder">
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div>
                            <label class="card-title">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail float-right">
                                <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="uk-width-1">
            <div class="uk-panel">
                <img src="../../assets/img/big-list-1.png" alt="">
                <div class="uk-overlay py-2 uk-overlay-primary uk-position-bottom uk-transition-slide-bottom">
                    <div class="container">
                        <div class="info-holder">
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div>
                            <label class="card-title">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail float-right">
                                <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="uk-width-1">
            <div class="uk-panel">
                <img src="../../assets/img/big-list-1.png" alt="">
                <div class="uk-overlay py-2 uk-overlay-primary uk-position-bottom uk-transition-slide-bottom">
                    <div class="container">
                        <div class="info-holder">
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div>
                            <label class="card-title">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail float-right">
                                <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="uk-width-1">
            <div class="uk-panel">
                <img src="../../assets/img/big-list-1.png" alt="">
                <div class="uk-overlay py-2 uk-overlay-primary uk-position-bottom uk-transition-slide-bottom">
                    <div class="container">
                        <div class="info-holder">
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div>
                            <label class="card-title">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail float-right">
                                <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
    <div class="uk-position-bottom-center uk-position-small">
        <ul class="uk-slider-nav uk-dotnav"></ul>
    </div>
    
</div>