<form  [formGroup]="businessForm">
    <div class="container">
        <div class="list-view">
            <div class="heading-title">
                <h3>Business Listing</h3>
            </div>
            <div class="edit-view">
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>First Name</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="First Name" class="text-area" required
                            formControlName="firstName" name="firstName" >
                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="firstName.errors.required" class="err-font">
                                    Please provide a valid firstname.
                                </div>
                             </div>
                        </div> 
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Last Name</p>
                        </div>
                        <div class="text-block">
                            <input type="text" class="text-area" placeholder="Last Name" required
                            formControlName="lastName" name="lastName">
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="lastName.errors.required" class="err-font">
                                    Please provide a valid lastname.
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Category</p>
                        </div>
                        <div class="dropdown">
                            <select name="Select a Field" class="dropbtn" placeholder="Select a Field"  required
                            formControlName="category">
                                <option >Tours & Travels</option>
                                <option >Textiles</option>
                                <option >Bakery</option>
                                <option >Hotel</option>
                            </select>
                        </div>
                        <div *ngIf="category.invalid && (category.dirty || category.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="category.errors.required" class="err-font">
                                    Please provide a valid Category.
                                </div>
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Sub-Category</p>
                        </div>
                        <div class="dropdown">
                            <select name="Select a Field" class="dropbtn" placeholder="Select a Field"  required
                            formControlName="subCategory">
                                <option >Tours & Travels</option>
                                <option >Textiles</option>
                                <option >Bakery</option>
                                <option >Hotel</option>
                            </select>
                        </div>
                        <div *ngIf="subCategory.invalid && (subCategory.dirty || subCategory.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="subCategory.errors.required" class="err-font">
                                    Please provide a valid Sub-Category.
                                </div>
                        </div>
                    </div>
                </div>    
                <div class="edit-buttonblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p style="font-weight: bold;">Address</p>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Floor/Door Number</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Floor Number" class="text-area" required
                            formControlName="floorDoorNumber" name="floorDoorNumber">
                            <div *ngIf="floorDoorNumber.invalid && (floorDoorNumber.dirty || floorDoorNumber.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="floorDoorNumber.errors.required" class="err-font">
                                    Please provide a valid Floor.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Building Name</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Building Name" class="text-area" required
                            formControlName="buildingName"  name="buildingName">
                            <div *ngIf="buildingName.invalid && (buildingName.dirty || buildingName.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="buildingName.errors.required" class="err-font">
                                    Please provide a valid Name.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Landmark</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Landmark" class="text-area" required
                            formControlName="landmark" name="landmark">
                            <div *ngIf="landmark.invalid && (landmark.dirty || landmark.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="landmark.errors.required" class="err-font">
                                    Please provide a valid Landmark.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Street Name </p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Street Name" class="text-area" required
                            formControlName="streetName" name="streetName">
                            <div *ngIf="streetName.invalid && (streetName.dirty || streetName.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="streetName.errors.required" class="err-font">
                                    Please provide a valid Street.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>City/Nearest Twon</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Nearest Twon" class="text-area" required
                            formControlName="nearestTown" name="nearestTown">
                            <div *ngIf="nearestTown.invalid && (nearestTown.dirty || nearestTown.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="nearestTown.errors.required" class="err-font">
                                    Please provide a valid City.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>District</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="District" class="text-area" required
                            formControlName="district" name="district">
                            <div *ngIf="district.invalid && (district.dirty || district.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="district.errors.required" class="err-font">
                                    Please provide a valid Country.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Province </p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Province" class="text-area" required
                            formControlName="province" name="province">
                            <div *ngIf="province.invalid && (province.dirty || province.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="province.errors.required" class="err-font">
                                    Please provide a valid Province.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Country</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Country" class="text-area" required
                            formControlName="country">
                            <div *ngIf="country.invalid && (country.dirty || country.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="country.errors.required" class="err-font">
                                    Please provide a valid Country.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Zip Code</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Zip Code" class="text-area" required
                            formControlName="zipCode" name="zipCode">
                            <div *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="zipCode.errors.required" class="err-font">
                                    Please provide a valid Zip.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Keyword</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Keyword" class="text-area" required
                            formControlName="keyWords">
                            <div *ngIf="keyWords.invalid && (keyWords.dirty || keyWords.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="keyWords.errors.required" class="err-font">
                                    Please provide a valid Keyword.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-buttonblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p style="font-weight: bold;">Business Details</p>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Opening Time</p>
                        </div>
                        <div class="text-block">
                            <input type="time" placeholder="caption" class="text-area" required
                            formControlName="openingTime">
                            <div *ngIf="openingTime.invalid && (openingTime.dirty || openingTime.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="openingTime.errors.required" class="err-font">
                                    Please provide a valid Time.
                                </div>
                             </div>
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Closing Time</p>
                        </div>
                        <div class="text-block">
                            <input type="time" placeholder="" class="text-area" required
                            formControlName="closingTime">
                            <div *ngIf="closingTime.invalid && (closingTime.dirty || closingTime.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="closingTime.errors.required" class="err-font">
                                    Please provide a valid Time.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="editlink-block">
                        <div class="name-label">
                            <p>Working Days</p>
                        </div>
                        <div class="text-block">
                            <div class="drop-area w-100">
                                <ng-multiselect-dropdown name="workingDays" [placeholder]="'Select Working Days'"
                                    [data]="publishedWorkingDays" formControlName="workingDays" [disabled]="false"
                                    [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
                                </ng-multiselect-dropdown>
                            </div>
                            <div *ngIf="workingDays.invalid && (workingDays.dirty || workingDays.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="workingDays.errors.required" class="err-font">
                                    Please provide a valid Working Days.
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="edit-buttonblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p style="font-weight: bold;">Contact Details</p>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Contact Person Name</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="" class="text-area" required
                            formControlName="personName" name="personName">
                            <div *ngIf="personName.invalid && (personName.dirty || personName.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="personName.errors.required" class="err-font">
                                    Please provide a valid Name.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Mobile</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Mobile" class="text-area"  required
                            formControlName="mobile" name="mobile">
                            <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="mobile.errors.required" class="err-font">
                                    Please provide a valid Number.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Designation</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Designation" class="text-area" required
                            formControlName="designation">
                            <div *ngIf="designation.invalid && (designation.dirty || designation.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="designation.errors.required" class="err-font">
                                    Please provide a valid Designation.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Email</p>
                        </div>
                        <div class="text-block">
                            <input type="text" placeholder="Email" class="text-area"  required
                            formControlName="email">
                            <div *ngIf="email.invalid && (email.dirty || email.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="email.errors.required" class="err-font">
                                    Please provide a valid Email.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Description/About</p>
                        </div>
                        <div class="text-block">
                            <textarea type="text" placeholder="" class="text-areablock" required
                            formControlName="aboutDescription" name="aboutDescription"></textarea>
                            <div *ngIf="aboutDescription.invalid && (aboutDescription.dirty || aboutDescription.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="aboutDescription.errors.required" class="err-font">
                                    Please provide a valid description.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>Upload Cover Photo</p>
                        </div>
                        <div class="cover-block">
                            <div class="img-cover">
                                <div class="cover-img" (click)="[isCoverPicCropped = true ,coverInput.click()]">
                                    <img *ngIf="coverPicUrl" class="card-img upload-pic" id="itemIcon" onerror="this.src='../../../../../assets/img/camera-svg.png'"
                                    [src]="coverPicUrl">
                                    <image-cropper *ngIf="isCoverPicCropped" [imageChangedEvent]="coverPicChangedEvent" [maintainAspectRatio]="true"
                                     [aspectRatio]="4 / 2" format="png" (imageCropped)="coverPicCropped($event)" (imageLoaded)="imageLoaded()"
                                     (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()">
                                    </image-cropper>
                                </div>
                                <div class="img-link">
                                    <a for="" class="subtitle" (click)="coverInput.click()">Choose a File</a>
                                    <input type="file" style="display: none;" (change)="previewCoverPic($event)" accept='image/*' name="picture"
                                      #coverInput required>
                                      
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-mainblock">
                    <div class="edit-block">
                        <div class="name-label">
                            <p>PUBLIC URL</p>
                        </div>
                        <div class="text-block">
                            <p >https://www.listnsell.in/</p>
                            <input type="text" placeholder="FirstName" class="text-area"  required
                            formControlName="url">
                            <div *ngIf="url.invalid && (url.dirty || url.touched)"
                                 class="alert alert-danger">
                                <div *ngIf="url.errors.required" class="err-font">
                                    Please provide a valid url.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="edit-main-block">
                    <div class="button-block">
                        <p class="error-msg" *ngIf="errorMessage" for="">{{errorMessage}}</p>
                        <button class="btn btn-primary mt-3 save-button"(click)='saveBasicDetails()'>
                            <a routerLinkActive="router-link-active"  ></a>
                            Next<i *ngIf="isLoading" class="fa fa-spin fa-spinner"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="isCreated" class="edit-main-block">
            <div class="button-block">
                <div class="ibox p-5">
                    <h2 class="text-center mb-3">New Business Listing Successfully Created</h2>
                    <h2 class="text-center mb-3">The Public URL is {{publicUrl}}</h2>
                    <h3 class="text-center mb-3">We will update the page within a moment</h3>
                </div>
    
            </div>
        </div>
    </div>
    </form>

