<div class="container-fluid featured-list">
    <div class="row">
        <div class="featured-list__card-container">
            <div class="uk-position-relative uk-visible-toggle uk-light w-100" tabindex="-1" uk-slider>
                <div class="featured-list__title">
                    <label for="" class="featured-list__title--title">Featured List</label>
                    <div class="featured-list__title--control">
                        <div class="col">
                            <div class="previous" uk-slidenav-previous uk-slider-item="previous">
                                <i class="fas fa-angle-left"></i>
                            </div>
                        </div>
                        <div class="col">
                            <div class="next" uk-slidenav-next uk-slider-item="next">
                                <i class="fas fa-angle-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-4@m">
                    <li>
                        <div class="featured-list__card">
                            <div class="card">
                                <div class="img-holder">
                                    <label class="strip">
                                        sponsored
                                    </label>
                                    <img src="../../assets/img/shoe-2.jpg" alt="">
                                </div>
                                <div class="info-holder">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                                    </div>
                                    <label class="card-title">
                                        Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                                    </label>
                                    <label class="card-subtitle" for="">Location / Address</label>
                                    <div class="card-detail">
                                        <div class="detail">
                                            <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                            <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                        </div>
                                        <div class="img">
                                            <img src="../../assets/img/sponsored.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="featured-list__card">
                            <div class="card">
                                <label class="strip">
                                    sponsored
                                </label>
                                <div class="img-holder">
                                    <img src="../../assets/img/shoe-2.jpg" alt="">
                                </div>
                                <div class="info-holder">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                                    </div>
                                    <label class="card-title">
                                        Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                                    </label>
                                    <label class="card-subtitle" for="">Location / Address</label>
                                    <div class="card-detail">
                                        <div class="detail">
                                            <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                            <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                        </div>
                                        <div class="img">
                                            <img src="../../assets/img/sponsored.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="featured-list__card">
                            <div class="card">
                                <label class="strip">
                                    sponsored
                                </label>
                                <div class="img-holder">
                                    <img src="../../assets/img/shoe-2.jpg" alt="">
                                </div>
                                <div class="info-holder">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                                    </div>
                                    <label class="card-title">
                                        Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                                    </label>
                                    <label class="card-subtitle" for="">Location / Address</label>
                                    <div class="card-detail">
                                        <div class="detail">
                                            <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                            <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                        </div>
                                        <div class="img">
                                            <img src="../../assets/img/sponsored.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="featured-list__card">
                            <div class="card">
                                <label class="strip">
                                    sponsored
                                </label>
                                <div class="img-holder">
                                    <img src="../../assets/img/shoe-2.jpg" alt="">
                                </div>
                                <div class="info-holder">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                                    </div>
                                    <label class="card-title">
                                        Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                                    </label>
                                    <label class="card-subtitle" for="">Location / Address</label>
                                    <div class="card-detail">
                                        <div class="detail">
                                            <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                            <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                        </div>
                                        <div class="img">
                                            <img src="../../assets/img/sponsored.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="featured-list__card">
                            <div class="card">
                                <label class="strip">
                                    sponsored
                                </label>
                                <div class="img-holder">
                                    <img src="../../assets/img/shoe-2.jpg" alt="">
                                </div>
                                <div class="info-holder">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                                    </div>
                                    <label class="card-title">
                                        Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                                    </label>
                                    <label class="card-subtitle" for="">Location / Address</label>
                                    <div class="card-detail">
                                        <div class="detail">
                                            <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                            <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                        </div>
                                        <div class="img">
                                            <img src="../../assets/img/sponsored.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="featured-list__card">
                            <div class="card">
                                <label class="strip">
                                    sponsored
                                </label>
                                <div class="img-holder">
                                    <img src="../../assets/img/shoe-2.jpg" alt="">
                                </div>
                                <div class="info-holder">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                                    </div>
                                    <label class="card-title">
                                        Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                                    </label>
                                    <label class="card-subtitle" for="">Location / Address</label>
                                    <div class="card-detail">
                                        <div class="detail">
                                            <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                            <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                        </div>
                                        <div class="img">
                                            <img src="../../assets/img/sponsored.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="featured-list__card">
                            <div class="card">
                                <label class="strip">
                                    sponsored
                                </label>
                                <div class="img-holder">
                                    <img src="../../assets/img/shoe-2.jpg" alt="">
                                </div>
                                <div class="info-holder">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                                    </div>
                                    <label class="card-title">
                                        Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                                    </label>
                                    <label class="card-subtitle" for="">Location / Address</label>
                                    <div class="card-detail">
                                        <div class="detail">
                                            <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                            <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                        </div>
                                        <div class="img">
                                            <img src="../../assets/img/sponsored.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="featured-list__card">
                            <div class="card">
                                <label class="strip">
                                    sponsored
                                </label>
                                <div class="img-holder">
                                    <img src="../../assets/img/shoe-2.jpg" alt="">
                                </div>
                                <div class="info-holder">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                                    </div>
                                    <label class="card-title">
                                        Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                                    </label>
                                    <label class="card-subtitle" for="">Location / Address</label>
                                    <div class="card-detail">
                                        <div class="detail">
                                            <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                            <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                        </div>
                                        <div class="img">
                                            <img src="../../assets/img/sponsored.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <label class="text-light mt-3 pointer" for="">See all <i class="fas fa-angle-right ml-2"></i></label>
    </div>
</div>