
    <div class="free-list container">
        <div class="free-list__title">
            <label for="" class="free-list__title--title">silver Collection</label>
           
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="curated-list__card">
                    <div class="card shadow-main">
                        <div class="img-holder rounded-20">
                            <!-- <label class="strip bottom-right">
                                sponsored
                            </label> -->
                            <img src="../../assets/img/shoe-2.jpg" alt="">
                        </div>
                        <div class="info-holder">
                            <!-- <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div> -->
                            <label class="card-title w-75">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail">
                                <!-- <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div> -->
                                <div class="img">
                                    <img src="../../assets/img/sponsored.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="curated-list__card">
                    <div class="card shadow-main">
                        <div class="img-holder rounded-20">
                            <!-- <label class="strip bottom-right">
                                sponsored
                            </label> -->
                            <img src="../../assets/img/shoe-2.jpg" alt="">
                        </div>
                        <div class="info-holder">
                            <!-- <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div> -->
                            <label class="card-title w-75">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail">
                                <!-- <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div> -->
                                <div class="img">
                                    <img src="../../assets/img/sponsored.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="curated-list__card">
                    <div class="card shadow-main">
                        <div class="img-holder rounded-20">
                            <!-- <label class="strip bottom-right">
                                sponsored
                            </label> -->
                            <img src="../../assets/img/shoe-2.jpg" alt="">
                        </div>
                        <div class="info-holder">
                            <!-- <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div> -->
                            <label class="card-title w-75">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail">
                                <!-- <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div> -->
                                <div class="img">
                                    <img src="../../assets/img/sponsored.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="curated-list__card">
                    <div class="card shadow-main">
                        <div class="img-holder rounded-20">
                            <!-- <label class="strip bottom-right">
                                sponsored
                            </label> -->
                            <img src="../../assets/img/shoe-2.jpg" alt="">
                        </div>
                        <div class="info-holder">
                            <!-- <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div> -->
                            <label class="card-title w-75">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail">
                                <!-- <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div> -->
                                <div class="img">
                                    <img src="../../assets/img/sponsored.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="curated-list__card">
                    <div class="card shadow-main">
                        <div class="img-holder rounded-20">
                            <!-- <label class="strip bottom-right">
                                sponsored
                            </label> -->
                            <img src="../../assets/img/shoe-2.jpg" alt="">
                        </div>
                        <div class="info-holder">
                            <!-- <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div> -->
                            <label class="card-title w-75">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail">
                                <!-- <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div> -->
                                <div class="img">
                                    <img src="../../assets/img/sponsored.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="curated-list__card">
                    <div class="card shadow-main">
                        <div class="img-holder rounded-20">
                            <!-- <label class="strip bottom-right">
                                sponsored
                            </label> -->
                            <img src="../../assets/img/shoe-2.jpg" alt="">
                        </div>
                        <div class="info-holder">
                            <!-- <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <label class="rating-info" for=""><span>4.5</span><span>(121)</span></label>
                            </div> -->
                            <label class="card-title w-75">
                                Lorem ipsum dolor sit amet dsfdsfsdfsdfsdf
                            </label>
                            <label class="card-subtitle" for="">Location / Address</label>
                            <div class="card-detail">
                                <!-- <div class="detail">
                                    <label for=""><i class="far fa-clock mr-2"></i> 9:00 AM - 10:00 PM</label>
                                    <label for=""><i class="fas fa-phone-alt mr-2"></i> +1838183818</label>
                                </div> -->
                                <div class="img">
                                    <img src="../../assets/img/sponsored.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
